# About CWW (Code Writing Worksheet) # 5
For this assignment, you'll be working with the same partner as last week.  You can both be in this document at the same time, but only one should write code and run cells. 

Note: You have new partners this week! You can find them [here.](https://docs.google.com/spreadsheets/d/1yMrHzTY5d-jq-0LhZbRcFo1BrQN2-6fACB1EwfQ_jYc/edit?usp=sharing)

**Instructions:**
1. Either your partner or you should use the fork button ![fork button](http://shroutdocs.org/images/DCS204_F2020/fork.png) to make a copy of this workspace. 
2. Rename your notebook CWW5_LASTNAME_LASTNAME (where the first last name is yours and the second last name is your partners)
2. Whoever made the copy should share the workspace with your partner.  NO NEED TO SHARE IT WITH ME.
3. Answer the questions in the worksheet. Some of the parts of it require writing code.  Some parts require writing an explanation in a text cell.  Some of the steps require reading and summarizing.
4. Finally, check to make sure that all of your code and text cells ran correctly, and that there are no extraneous cells. No need to submit anything - I'll begin checking your worksheets after they are due.

This assignment is based on the text and code from chapter 9 of W.N. Venables, D.M. Smith and the R Core Team, *An Introduction to R*.  To further explore the textbook, go [here](https://cran.r-project.org/doc/manuals/R-intro.pdf)

**For this worksheet, one person will be the driver (who writes code) and the other person will be the navigator (who recommends a course of action.  ONLY THE DRIVER SHOULD RUN CELLS - TWO PEOPLE RUNNING CELLS AT THE SAME TIME CAUSES PROBLEMS.**  

**For this assignment, the person who feels like they need more code-writing experience should be the driver.**

Use the space below to identify who was driving (writing code) for this notebook:

Use the space below to identify who was navigating (talking through the code and recommending a course of action) for this notebook:

## Part 1: Reading in Data

There is a file named MSS_donors_all.csv. **Read it in, and store it in a variable called donors. Check the data to make sure that you read it in correctly.**

In [75]:
# Read in omnibus data

## Part 2: Extracting and Analyzing Vectors

**Create three vectors, called years, months and days.  The years vector should hold only the Year column of the donors dataframe.  The months vector should hold only the Month column.  The days vector should hold only the Day column.**

In [61]:
# Store Month, Day and Year in vectors. Use histograms to interpret them

**Produce a histogram of each vector.  Interpret the results in the text box below.**

In [0]:
# Histograms of each vector

## Part 3: Analyzing two-dimensional data

**Plot a scatterplot that compares the day of the month on which a donation was made and the amount of the donation.  Interpret the results in the text cell below.**

In [22]:
# Scatterplot showing the relationship between amount and day

**Calculate the correlation between the donation amount and day of the month.**

In [23]:
# Correlation showing the relationship between Amount and Day

**Square the correlation. This tells you what proportion of the variance in one is explained by the other.  For example, if the correlaiton squared is .25, that means that 25 % of the change in one variable is accounted for by the other variable.**

In [24]:
# Correlation squared - amount of variance in one accounted for by the other

**Use the cell below to interpret your scatterplot and correlation. What relationship (if any) is there between the day of the month and the amount? How does this finding compare to the analysis of correlation between Amount and Day from CWW3?**

## Part 4: Practicing For-loops

Remember that for-loops are really helpful for classifying data into more than two categories.

Below you'll find two vectors that list the towns and cities in Cumberland and Androscoggin Counties.

**Adapt the for-loop below (which I've commented for you) to put "cumberland" in the County_ID column when a donation came from a town in Cumberland, "androscoggin" when it came from a town in Androscoggin, and "other" if the town is in neither Androscoggin nor Cumberland counties.**

In [76]:
# For loop to identify in androscoggin, in cumberland or other
Cumberland_towns <- c("baldwin", "bridgton", "brunswick", 
"cape elizabeth", "casco", "chebeague island", "cumberland", 
"falmouth", "freeport", "frye island", "gorham", "gray", 
"harpswell", "harrison", "long island", "naples", "new gloucester", 
"north yarmouth", "portland", "pownal", "raymond", "scarborough", 
"sebago", "south portland", "standish", "westbrook", "windham", 
"yarmouth")

Androscoggin_towns <- c("auburn", "durham", "leeds", "lewiston", 
"lisbon", "livermore falls", "mechanic falls", "minot", "poland",
"sabattus", "turner", "wales")

In [77]:
# Create an empty column called County_ID
donors$county_id <- ""

# Start a for-loop that counts through each row in the donors dataframe
for(r in 1:nrow(donors)) {
    # Store the name of the town in a given row in a variable called town_to_test
    town_to_test <- donors$Location[r]
    # Write an if statement that tests whether that town is contained within the vector Cumberland_towns
    if( ){
        # If the town is within Cumberland_towns, 
        #store "cumberland" in the appropriate row of the County_ID column
        
    # Wirte an else if statement that tests whether that town is contained within the vector Androscoggin_towns
    }else if( ) {
        # If the town is within Androscoggin_towns, 
        # store "androscoggin" in the appropriate row of the County_ID column
         
    # Write an else statement for when neither of the two conditions are met
    } else {
        # If the town is not within Cumberland_towns or Androscoggin_towns, 
        # store "other" in the appropriate row of the County_ID column
         
    }
}

**Check your dataframe.  Does it look as you expected? If so, move forward, if not, troubleshoot until you have a correct County_ID column**

In [27]:
donors

**Create a column called Cumberland_test. Write a for-loop that stores a 1 in that column if a donation is made from a town in Cumberland County, and a 0 if it is not.*italic text***

In [78]:
# Create an empty column
donors$Cumberland_test <- 0

# For-loop that stores 1 in Cumberland_test when the donation is from Cumberland

**Create a column called Androscoggin_test. Write a for-loop that stores a 1 in that column if a donation is made from a town in Androscoggin County, and a 0 if it is not.**

In [79]:
# Create an empty column
donors$Androscoggin_test <- 0

# For-loop that stores 1 in Androscoggin_test when the donation is from Cumberland

**In a few sentences below, explain why we don't need a test variable column to capture the "other" locations. (Hint: see the Linear Regression video).**

## Part 5: T-tests

**Subset the donors dataframe into two vectors - one called cumberland_donoations_amt containing donations from Cumberland and one called androscoggin_donations_amt containing donations from Androscoggin.**

(Hint: one way to do this is to create two dataframes, one with Cumberland donations and one with Androscoggin donations, and then to subset just the Amount column from each.)

**Take the mean of each vector.**

In [70]:
# Get the means of each vector

**Run the code cell below. Then use the text box below to explain what the code was testing, and what the results tell you.**

(Hint: if you get an error, make sure that your vectors are appropriately named.)

In [71]:
# T-test
t.test(cumberland_donations_amt, androscoggin_donations_amt)

## Part 6: Merging

**Start by running the cell below, to produce two dataframes**

In [1]:
# Creates an empty dataframe with three rows and three columns
df1 <- as.data.frame(matrix(ncol = 3, nrow = 3))
# Populates the first column of df1
df1[,1] <- c(2, 2, 4)
# Populates the second column of df1
df1[,2] <- c("I", "H", "G")
# Populates the third column of df1
df1[,3] <- c("brown", "jumps", "dog")
# Sets df1 column names
names(df1) <- c("number", "letter", "word")

# Creates an empty dataframe with three rows and three columns
df2 <- as.data.frame(matrix(ncol = 3, nrow = 3))
# Populates the first column of df2
df2[,1] <- c(1, 2, 3)
# Populates the second column of df2
df2[,2] <- c("apple", "pear", "pluot")
# Populates the third column of df3
df2[,3] <- c("horse", "dog", "cat")
# Sets df2 column names
names(df2) <- c("number", "fruit", "animal")

# Views both dataframes
df1
df2

  number letter word
1 2      I      brown
2 2      H      jumps
3 4      G      dog

  number fruit animal
1 1      apple horse
2 2      pear  dog
3 3      pluot cat

**Run the cell below, and then use comments to explain what is happening in each line of code.  Be specific about each parameter.**

In [0]:
merge(df1, df2, by.x = "number", by.y = "number", all.x = TRUE, all.y = TRUE)

merge(df1, df2, by.x = "number", by.y = "number", all.x = TRUE, all.y = FALSE)

merge(df1, df2, by.x = "number", by.y = "number", all.x = FALSE, all.y = TRUE)

merge(df1, df2, by.x = "number", by.y = "number", all.x = FALSE, all.y = FALSE)

The code below would run, but would not produce meaningful results.  **Explain why in the text cell below.**

In [0]:
merge(df1, df2, by.x = "word", by.y = "fruit", all.x = FALSE, all.y = FALSE)

## Part 7: Merging our data

**Begin by reading in a small dataframe containing biographical information about a subset of our donors. It is called MSS_donors_bio.csv.  Store it in a variable called donor_demography**

In [80]:
# Merge with bios

**Compare the column names in donor_demography with the column names in donors. Which ones do you think contain identical information?**

**Merge the donor_demography and donors dataframes.  Use c("Name_CV", "First", "Middle", "Last", "Location") for the by.x and by.y arguments.  Set all.x and all.y to FALSE.**

(Hint: Check Monday's slides for a short discussion of using the c() function here.)

In [81]:
donor_bios <- merge(donor_demography, donors, 
by.x = , 
by.y = , 
all.x = , 
all.y = )

**Look at your new dataframe. Describe what rows were kept, and what rows were dropped.**

(Hint: it might help to compare the two dataframes that you started with.)

## Part 8: Chi Square tests

**Start by using the cell below to explain what a chi-square test is testing. Also explain what the p-value in a chi-square test tells us.**

**The code below produces a table that shows counts of donations across two different attributes.  Run this cell and see if you can discern any relationship between the profession of a donor and their location.**

In [49]:
# Table comparing Profession and County (Androscoggin, Cumberland or Other)
table(donor_bios$Census_Profession, donor_bios$county_id)

**Run the cell below. What kind of a claim can we make about the relationship between profession and county (as represented in this data)?  Use the cell below to explain.**

In [50]:
# Chi square test
chisq.test(donor_bios$Census_Profession, donor_bios$county_id)

## Part 9: Controlled Vocabularies

You might be thinking that there are too many different professions, and some that could be collapsed together (for example shoe maker and shoemaker).

**Create a .csv file that has two columns: Census_Profession and Standardized_Profession. Each row of Census_Profession should contain one of the professions listed in the table above.  Each row of Standardized_Profession should contain a controlled vocabulary entry.  So, for example, the entries in the Standardized Profession column for shoemaker and shoe maker could be shoe.**

**Once you have created that file, save it and upload it to your notebook.**

**Read it in, and store it in a variable called professions_CV.**

**Merge professions_CV and donor_bios, using the code structure below. (Fill in the by.x = and by.y = )**

In [0]:
# Merge in professions controlled vocabulary
donor_bios <- merge(donor_bios, professions_cv, 
by.x = , 
by.y = , 
all.x = , 
all.y = )

**Re-run your chi-square test, using Standardized_Profession instead of Census_Profession.**

**Use the text cell below to interpret your new findings.**

## Part 10: Pesky NAs

When we read data in that has blank cells, R fills those cells with the value NA.  NA is a bit like a boolean value - it stands for "Not Available." 

Some of our tests won't work with any NAs, so we need to subset our dataframes to remove them.

To do that, we use the function [is.na()](https://www.rdocumentation.org/packages/ursa/versions/3.9.2/topics/is.na), which returns a boolean vector that is the same length as the vector we are evaluating, with TRUE at the same index of values that are NA, and FALSE at all other indexes.

**Run the cell below to see is.na() in action:**

In [66]:
sample_vector <- c(9, 0, 8, 1, 4, NA, 4, 2, NA)
is.na(sample_vector)

**Use the is.na() function to test whether there are any NAs in the Census_Household_Value column of our data.  Store the resulting boolean vector in a variable called CHV_na**

In [84]:
# Test for NAs in Census Household Value column
CHV_na <-

**Use the CHV_na vector to subset the donor_bios dataframe.  The goal here is to keep ONLY the rows that DO NOT have NA in the Census_Household_Value column.**

In [85]:
# Drop NAs

## Part 11: A Small Regression Example

We now have some data that we can run regression on.  In this example, we're going to theorize that a person living in either Androscoggin or Cumberland, and the value of their house in the 1850 census (in this very small sample of donations) might predict the amount a person donated.

Interpret the coefficients and p-balues below.

In [86]:
model <- lm(Amount ~ Census_Household_Value + Cumberland_test + Androscoggin_test, data = donor_bios_subset)
summary(model)